*{
    margin: 0px;
    padding: 0px;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.game{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 4px 4px black;
    margin-top: 20px;

}